/*global styles-----------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
}
h1, h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	/*font-weight: 400px;*/
}
h1 {
	font-size: 80px;
	margin: 0;
}
h2 {
	font-size: 40px;
	margin-top: 0;
}
h3 {
	margin-top: 0;
}
.content-wrap {
	max-width: 950px;
	margin:  0 auto;
	padding-top: -50px;
	padding: 50px 50px;
	overflow: auto;
}
a {
	color: #004E89;
	text-decoration: none;
}
/* Header and footer
------------------------ */
header, footer {
	text-align: center;
	background: #FFE1CE;
	color: #004E89;
}

/*--header--*/
header {
	padding-top: 60px;
	position: relative;
	padding-bottom: 30px;
}
/*--footer--*/
footer {
	text-align: center;
}
.contact-wrap {
	padding: 10px;
	display: inline-block;
}


/* Navigation
------------------------ */
nav {
	text-align: left;
	background: #FF5C21;
	position: fixed;
	top: 0;
	width: 100%;
	color: #FFFFFF;
}
nav a {
	display: inline-block;;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}
nav a:hover {
	text-decoration-line: underline;
}

/*introduction*/
.introduction {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(255,99,71, 0.6)),
				url(../images/designcreativity.jpg) no-repeat fixed;
				background-size: 100%;
				color: #FFFBEA;
}
/*Internal links*/
.internal-links {
	text-align: center;
	word-spacing: 10px;
}

.internal-links a:hover {
	text-decoration-line: underline;
}
/*image1 Mindmap-----------*/
.mindmap {
	/*wedth:400px;*/
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
}
.mindmap img {
	height: 272px; 

}

/*image2 Storyboard---------*/
#work {
	width: 485px;
}
.left {
	/*width: 400;*/
	height: 272px;
}
.right {
	/*width: 400;*/
	height: 272px;
}

/*image3 Whackpack*/
.whackpack {
	position: relative;
	wedth:400px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
}
.whackpack img {
	height: 272px;

}