/* Color palette
#FF5C21 - Main Orange
#FF4500 - favorite Orange
#FF8B5E - Sub Orange
#FFE1CE - Light Orange
#004E89 - Dark blue
#0063AF - Blue
#FFFBEA - Whity Orange
#EADEDA - Whity gray
*/

/* Global styles
------------------------ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0	;
}
h1, h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400px;
}
h1 {
	font-size: 80px;
}
h2 {
	font-size: 40px;
	margin-top: 0;
}
h3 {
	margin: 0;
}

a {
	color: #004E89;
}
a:hover {
	text-decoration: none;
}
.content-wrap {
	max-width: 950px;
	margin:  0 auto;
	padding: 60px 50px;
	overflow: auto;
}
.uppercase {
	text-transform: uppercase;
}
.btn{
	text-decoration: none;
	background: #FFE1CE;
	color: #004E89;
	padding: 10px;
	display: inline-block;
}

.description {
	margin-bottom: 25px;
}
.description p:first-of-type {
	margin-top: 0;
}

/* Header and footer
------------------------ */
header, footer {
	background: #FF5C21;
	color: #FFFBEA;
}

/*--header--*/
header {
	padding-top: 50px;
	position: relative;
}
.profile-img {
	border-radius: 50%;
}
.download {
	position: absolute;
	bottom: 0;
	right: 0;
}
/*header {
	text-align: center;
}*/
header h1, header h2 {
	color: #FFFFFF;
	margin: 0;
}


/*--footer--*/
footer {
	text-align: center;
}
.contact-info a {
	padding: 10px;
	display: inline-block;
}

/* Navigation
------------------------ */
nav {
	text-align: center;
	background: #FFE1CE;
	position: fixed;
	top: 0;
	width: 100%;
}
nav a {
	display: inline-block;;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}

/* Work Experience
------------------------ */
.work {
	background: #FF8B5E;
}
h3 ~ p {
	margin: 0;
}

/* Education
------------------------ */
.education {
	background: linear-gradient(rgba(255, 251, 234, 0.4), rgba(255,99,71, 0.6)),
				url(../images/peter-gabas-220313-unsplash.jpg) no-repeat fixed;
				background-size: 100%;
				color: #FFFBEA;
}
p + h3 {
	margin-top: 30px;
}

/* Media Queries
------------------------ */
@media (min-width: 900px){
	.column-narrow {
	width: 30%;
	float: left;
	}
	.column-wide {
	width: 70%;
	float: left;
	padding-left: 20px;
	}
}
@media (max-width: 899px){
	header {
		text-align: center;
	}
	.profile-img {
		width: 200px;
	}
}
